<!DOCTYPE html>
<html>
<meta content="width=device-width, initial-scale=1" name="viewport" />
<head>
</head>

<body>
    <div class="header shadow">
        <a class="header-tab" href="/about">About</a>
        <a class="header-tab selected" href="/recommendations">Recommendations</a>
        <a class="header-tab" href="/">Model</a>
    </div>
    <div class="recommendations-wrapper">
        <div class="recommendations">
            <h2>1. Flexible Working Arrangements</h2>
            <div class="para">With “DistanceFromHome” being one of the most significant features that results in employee attrition, organisations can consider implementing flexible working arrangements which will allow for discretion on employees’ working time and work location. This will generally result in greater work life balance and higher job satisfaction, especially for employees staying further away from the office. With higher employee job satisfaction, we expect lower absenteeism rate and turnover, thereby helping the company to retain their skilled employees.</div>
            
            <h2>2. Employee Rewards Program</h2>
            <div class="para">Earning a base salary is only enough to motivate the employees to work at the level required of them but implementing a reward system will further motivate the employees to perform at a higher level and to work with the organisation for a longer period of time. As “MonthlyIncome” is one of the most significant features contributing to employee attrition, implementing a bonus reward on top of a basic monthly income is likely to improve their job satisfaction and willingness to stay with the firm.</div>
            
            <h2>3. Performance and Salary Review</h2>
            <div class="para">With “YearsAtCompany” being one of the more significant features affecting employee attrition, companies should implement regular performance and salary review to identify highly skilled long-standing employees. Adjustment can be made to the salary of these employees in order to improve job satisfaction through formal recognition and ultimately, retain them. Retaining highly skilled long serviced employees would be beneficial to the companies as they will be able to pass down their skills and expertise to the younger and newer employees.</div>
        </div>
    </div>
</body>
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
